*{
color: var(--font-color) !important;

margin: 0;
padding: 0;
flex-wrap: wrap;
}

:root {
    --primary-color: #0D0C0C;
    --font-color: rgb(212, 209, 209);
   
    --secondary-color: #000000;
     /*
    --bg-color: #fff;
    --heading-color: #292922;*/
    --border: 0;
}
[data-theme="dark"] {
    --primary-color: #ffffff;
    --font-color:rgb(0, 0, 0);
   
    --secondary-color: #ffffff;
    --border: 1px 0 6px #bbb7b7;

}

body{
    background-color:var(--primary-color); 
}
.header{
    display: flex;
  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
.nav{
 
   
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 45%;
    gap: 16px;
    
}
.nav li{
    display: inline-block;
    position: relative;
    opacity: 0.85;
    color: white;

    
}

.nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
   background-color: var(--font-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}
.nav a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    opacity: 0.85;
    width: fit-content;
    transition: all 1s ease-in;
    

}
.nav li:hover{
    opacity: 1;
}

.dark-mode  {
    background-color: white;
    color: black !important;
  }
  .main{
      padding: 60px 20px;
  }
  .section2
  {
    padding: 60px 20px;
  }
  article{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
  }
  article div{
   
      width: 50%;
      font-size: 16px;
      line-height: 30px;
      font-family: 'Poppins', sans-serif;
      font-weight: 100;
     
  }
  article div h1{
      color: #00759F !important;
      font-size: 25px;
      font-weight: 800;
  }
  article div button{
      float: right;
      background-color: #00759F !important;
      border: 0;
      padding: 10px 20px;
      border-radius: 17px;
      text-transform: capitalize;
      font-weight: 600;
      color: white !important;

  }
  .main div h1{
      padding: 20px 0;
  }
  .section2 h1{
      text-align: center;
      color: #00759F !important;
      font-size: 25px;
    
      font-weight: 800;
      font-family: 'Poppins', sans-serif;
      padding: 0 0 20px;
  }
  .groupe-card {
      padding: 20px 0;
      display: inline-flex;
      justify-content: center;
      gap: 60px;
      width: 100%;
      
      
  }
  .groupe-card div{
      box-sizing: border-box;
      width: 340px;
      height: 200px;
      background-color: var(--secondary-color);
      border-radius: 17px;
      padding: 20px 10px;
      display: flex;
      gap: 60px ;
      flex-direction: column;
      justify-content: space-around;
     opacity: 0.5;
     box-shadow: var(--border);
     
  }
  .groupe-card div:hover{
      opacity: 1;
  }
  
  .groupe-card div h3{
    font-family: 'Poppins', sans-serif;
 
    font-size: 30px;
    
  }
  .groupe-card div button{
    background-color: #00759F !important;
    border: 0;
    padding: 10px 20px;
    border-radius: 17px;
    text-transform: capitalize;
    font-weight: 600;
    width: 40%;
    color: white !important;
    
  }
 .html{
    background-image: url("html.png");
    background-position: right;
   
    background-size: 180px 180px;
    background-repeat: no-repeat;
 }
 .css{
    background-image: url("cs.png");
    background-position: right;
   
    background-size: 180px 180px;
    background-repeat: no-repeat;
 }
 .js{
    background-image: url("js.png");
    background-position: right;
   
    background-size: 180px 180px;

    background-repeat: no-repeat;
 }

 .contact{
    padding: 60px 0;
     display: flex;
     justify-content: space-around;
    
 }
 .contact form{
    border: 1px solid #707070;
    padding: 40px 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
 }
 form input{
     background-color: transparent;
     border: 1px solid #707070;
     flex:1;
     width: 100%;
 
     padding: 20px;
     box-sizing: border-box;
 }
textarea{
    background-color: transparent;
    border: 1px solid #707070;
    flex:1;
    width: 100%;

    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 form input[type=email]
 {
     flex: 0;
     
 }
 label{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize; 
color: #00759F !important;}

 
    form textarea::placeholder {

        position: absolute;
        font-family: 'Poppins', sans-serif !important;
      
    }
    form input::placeholder {

        position: absolute;
        font-family: 'Poppins', sans-serif;
      
    }
    .conact-container h1{
        text-align: center;
        color: #00759F !important;
        font-size: 25px;
      
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        padding: 0 0 20px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 16px;

}
.buttons button{
    background-color: #00759F !important;
    border: 0;
    padding: 10px 20px;
    border-radius: 17px;
    text-transform: capitalize;
    font-weight: 600;
    width: 20%;
    color: white !important;
}

#reset{
    background-color: transparent !important;
    border: 1px solid #707070;
    color: var(--font-color) !important;
    padding: 10px 20px;
    border-radius: 17px;
    text-transform: capitalize;
    font-weight: 600;
    width: 20%;
}

footer{
    background-color: var(--secondary-color);
    padding: 20px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}


.footer1{
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.footer1 a{
    text-decoration: none;
    
}
.footer1 li{
    padding: 2px 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.footer2 h3{
    font-family: 'Poppins', sans-serif;
   
}
.footer2 li{
    list-style: none;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.footer2 a{
    text-decoration: none;
    font-size: 14px;
    
}
.night{
    width: 30px;
    padding: 20px;
    height: 30px;
  
    position: fixed;
    top: 50%;
    right: 0;

}
#up{
    width: 30px;
    padding: 20px;
    height: 30px;
  
    position: fixed;
    top: 60%;
    right: 0; 
    color: yellow;
}
@media only screen and (max-width: 600px) 
{
   .main article img{
       display: none !important;
   }
   .main article{
       flex-direction: column;
      
   }
   .main article div {
       width: 100%;
   }
   .contact img{
        display: none;
   }
  .buttons button{
     width: 100%;      
   }
   .contact input{
       padding: 10px;
   }
   .contact textarea{
    padding: 10px 10px 40px;
}
.conact-container{
    padding: 6px 10px;
}
footer{
    justify-content: flex-start;
}


.nav{
    flex-direction: column;
    padding: 10px 0;
}
.header{
    flex-direction: column;
    align-items: flex-start;
}
}
@media only screen and (min-width: 600px){
    .header{
        display: flex;
    align-items: center;
  
    padding: 20px;
    flex-direction: row;
    }
    .nav a{
        padding: 0 2px;
    }
    .nav{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        /* width: 56%; */
        align-content: center;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    footer{
        flex-wrap: nowrap;
        display: flex;
        gap: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .main article img{
        display: none;
    }
    .contact img{
        display: none;
    }
    article div{
        width: 100%;
    }
    .groupe-card{
        
            padding: 20px 0;
            display: inline-flex;
            justify-content: center;
            gap: 21px;
            width: 100%;
    }
    .contact{
        padding: 60px;
    }
    footer{
        gap: 10px;
    }
}